.intro, .biographies, .fleet-overview, .jedi-order {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 0;
  }

  table {
    border: none;

    img {
      margin: 1rem;
    }
  }

  .ship-image {
    border-radius: 60%;
    height: 15em;
    margin-right: 1rem;
  }

  td.ship-cell {
    width: 50%;
  }
}

.intro-fluff, .jedi-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.jedi-text {
  gap: 1em;
}

.russ-intro {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.mobile-ship {
  display: none;
}

.jedi-image {
  width: 15em;
}

@media only screen and (max-width: 762px) {
  .intro-fluff, .jedi-text {
    flex-direction: column;
    align-items: center;
  }

  .jedi-text {
    margin-left: 0;
    gap: 0;
  }

  .russ-intro {
    flex-direction: column;
    margin-left: 0;

    img {
      align-self: center;
    }
  }

  td.ship-cell {
    display: none;
  }

  .mobile-ship {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
}