@import "variables.scss";

body {
  background-image: url("../assets/images/background.png");
  margin: 0;
}

.main-content {
  width: calc(100% / 2.5);
  margin: auto;

  background-color: rgba($main-background, 0.06);

  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.banner {
  width: 100%;
  margin-bottom: 0.75em;
}

p {
  color: $green;
  font-size: 16px;
}

small, span {
   color: $green;
}

h1, h2 {
  color: $yellow;
  text-align: center;
}

h2 {
  font-size: 18px;
}

nav.navigation-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;

  padding-left: 1rem;
  padding-right: 1rem;

  .nav-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1em;

    a {
      color: $yellow;
      font-weight: bold;
      background-color: rgba($main-background, 0.2);
      padding: 0.25em;
      text-decoration: none;

      &:hover {
        background-color: rgba($green, 0.2);
        cursor: pointer;
      }
    }
  }

  #secondary {
    a {
      font-size: 14px;
    }
  }
}

table {
  th, td.header {
    color: $yellow;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0.2em;
  }

  td {
    color: $green;
  }
}

a.goto-top {
  color: $yellow;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  align-self: center;
}

a:link, a:visited, a:hover, a:active {
  color: $yellow;
}

h1.has-goto {
  margin-bottom: 0;
}

.roleplay-action {
  font-style: italic;
}

.small-showcase {
  width: 6em;
  text-align: center;
  padding: 1rem;
  border: 1px solid rgba(white, 0.2);
  background-color: rgba(white, 0.05);
  border-radius: 10%;
  margin: 0.5em;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  h2 {
    margin-top: 0.25em;
    margin-bottom: 0;
  }
}

// Empty showcase if for 'fixing' flexbox' weird bottom row aligning
.empty-showcase {
  height: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 762px) {
  .main-content {
    width: 100%;
  }
}