$main-background: #c8c8c8;
$green: #2bbc09;
$yellow: gold;

body {
  background-image: url("../assets/images/background.png");
  margin: 0;
}

.main-content {
  width: calc(100% / 2.5);
  margin: auto;

  background-color: rgba($main-background, 0.06);
}

.banner {
  width: 100%;
  margin-bottom: 0.75em;
}

p {
  color: $green;
  font-size: 16px;
}

h1, h2 {
  color: $yellow;
  text-align: center;
}

h2 {
  font-size: 18px;
}

p, h1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

nav.navigation-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;

  .nav-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1em;
    margin-left: 1em;
    margin-right: 1em;

    a {
      color: $yellow;
      font-weight: bold;
      background-color: rgba($main-background, 0.2);
      padding: 0.25em;
      text-decoration: none;

      &:hover {
        background-color: rgba($green, 0.2);
        cursor: pointer;
      }
    }
  }

  #secondary {
    a {
      font-size: 14px;
    }
  }
}

table {
  th, td.header {
    color: $yellow;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0.2em;
  }

  td {
    color: $green;
  }
}

a.goto-top {
  color: $yellow;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.roleplay-action {
  font-style: italic;
}

@media only screen and (max-width: 762px) {
  .main-content {
    width: 100% !important;
    margin: 0;
  }
}