h1{
font-weight:bold;
color:gold;
text-size:18pt;}

td{
color:#2bbc09;
text-size:11pt;}

h2{
color:#0e45ec;
text-decoration:underline;
text-size:14pt;}

h3{
color:#0e45ec;
text-decoration:none;
font-weight:bold}

th{
color:#2bbc09;
size:12pt;}

p{
text-size:12pt;}

p#misc{
color:#0e45ec;
font-style:italic;
text-size:10pt;
float:right;}

p#default{
color:#2bbc09;
text-size:11pt;}
